.chart{
    overflow: auto;
    /*border: 5px solid red;*/
}

.node circle {
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 16px sans-serif;
    fill: rgb(0, 0, 0);
    color: black;
    background-color: black;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
