* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  }
  
  
  body {
    background-color: #f2f2f2;
    font-family: 'Inter';
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 50px;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .logo-text {
    font-size: 24px;
    margin-left: 8px;
    font-weight: 800;
    font-family: 'Open Sans';
  }
  
  .logo {
    height: 40px;
    width: 40px;
  }
  
  .title {
    margin-top: 48px;
    font-size: 32px;
    font-weight: 600;
  }
  
  .subtext {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }

  #subText br {
    display: inline; /* hide <br> tag by default */
  }

  .instructions-subtext {
    margin-top: 8px;
    font-size: 16px;
    color: #a8a8a8;
  }
  
  form {
    margin-top: 30px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 4px 0px 4px 16px;
    border-radius: 5px;
    border-color: #a8a8a8;
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: white;
  }

  input::placeholder {
    color: #a8a8a8;
    font-weight: 400;
    font-size: 16px;
  }
    

  .input-wrapper {
    position: relative;
  }
  
  .input-label {
    position: absolute;
    top: -10px;
    left: 5px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
  }
  
  .input-container {
    position: relative;
  }

  .input-wrapper{
    margin-top: 32px;
  }

  .input-container>label{
    position:absolute;
    top:-7px;
    margin-left: 16px;
    background-color:white;
    color:#C00006;
    font-size: 12px;
    padding:0 2px;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
  }
  
  .error-message {
    color:#C00006;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 16px;
  }

  
  .instructions {
    margin-top: 24px;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
  }
    
  .instructions-subtext::before {
    content: "\2022"; /* Unicode character for bullet point */
    margin-right: 6px;
    margin-left: 6px;
  }
  

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FFCC00;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    height: 42px;
    cursor: pointer;
    font-family: 'Inter';
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #FFCC00;
  }
  
  @media screen and (max-width: 480px) {
    .card {
      padding: 22px;
      border-radius: 10px;
      min-height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .input-container>label{
      top:-2px;
    }

    .logo-container{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin-top: 32px;
    }
  
    
    .logo-text {
      margin-left: 4px;
    }
  
    .inner-body {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }


    .submit-btn {
      display: block;
      width: 89%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #FFCC00;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      height: 42px;
      cursor: pointer;
      font-family: 'Inter';
      transition: background-color 0.3s ease;
      position: absolute;
      bottom: 0;
      margin: 20px;
      margin-bottom: 32px;
    }
  
    .title {
      font-size: 32px;
      margin-top: 0px;
    }
  
    .input-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-35%);
      font-size: 20px;
      color: #999;
    }

    .subtext {
      margin-top: 24px;
      font-size: 16px;
      line-height: 1.2;
      white-space: pre-line;
    }


    input[type="email"] {
      margin-top: 5px;
      font-size: 16px;
      height: 42px;
    }

    .instructions-subtext {
        margin-top: 8px;
        font-size: 16px;
        color: #a8a8a8;
    }
  
    
  }
  