.chart{
    overflow: auto;
    /*border: 5px solid red;*/
}

.node circle {
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 16px sans-serif;
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
